.gall-first-cont{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: fill;
}
.gall-first-cont p.title{
    font-weight: 400;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 2px 2px black;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    text-transform: uppercase;
}

.breadcrumbs{
    height: fit-content;
    word-spacing: 5px;
}
.breadcrumbs p,
.breadcrumbs .gall-link{
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;  
    color: grey;
    transition: all .3s ;
}
.breadcrumbs .gall-link:hover{
    color: var(--mainColor);
}
.breadcrumbs p span{
    color: #fff;
}

.Gallery .gall-body{
    margin: 10vh 3vw;
}
.gall-body p.filter-text{
    margin-bottom: 5vh;
}
.gall-body span.filter{
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.gall-body span.filter button{
    padding: .5vh 3vw;
    border-radius: 10px;
}
.gall-body span.filter button.active{
    background-color: var(--mainColor);
    color: #fff;
    font-family: 'Courgette', sans-serif;
}
.gall-body .gall-body-res{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
}
.gall-body-res .sect-res{
    cursor: pointer;
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.sect-res-imgCont{
    height: 100%;
    overflow: hidden;
}
.sect-res-imgCont img{
    height: 100%;
    width: 100%;
    transition: all .5s ease-in;
}
.sect-res-rest-cont{
    position: absolute;
    /* top: 0; */
    bottom: 100%;
    background: linear-gradient(rgba(255, 217, 0, 0.611), rgba(255, 217, 0, 0.611) );
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.sect-res:hover .sect-res-rest-cont{
    opacity: 1;
    bottom: 0;
}
.sect-res:hover .sect-res-imgCont img{
    scale: 1.1;
}

.sect-res-rest-cont .Name{
    font-size: xx-large;
    font-weight: 600;
}

.gall-body .filter-text{
        word-spacing: .3em;
        font-weight: 600;
        font-size: larger;
        color: black;
}
.sect-res-rest-cont button{
    padding: 1vh 1vw;
    text-transform: uppercase;
    border: 2px solid white;
    font-size: large;
    background: transparent;
    color: white;
    transition: all .3s;
    border-radius: 100%;
}

.sect-res-rest-cont button:hover{
    background: #fff;
    color: #333;
}


@media screen and (max-width:600px){ 
    .Gallery span.breadcrumbs{
        font-size: small;
    }
    .gall-first-cont p.title{
        font-size: 50px;
        padding-bottom: 0;
    }
    .Gallery .gall-body-res{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .gall-body-res .sect-res{
        height: 30vh;
        line-height: .8;
    }
    .sect-res-rest-cont .Name{
        font-size: large;
    }
    .sect-res-rest-cont .date{
        font-size: x-small;
    }
    .gall-body .filter-text{
            word-spacing: 0;
            font-size: medium;
    }
    .sect-res-rest-cont button{
        padding: 10px;
    }
}

@media screen and (min-width:600px) and (max-width: 900px){
    .Gallery .breadcrumbs p{
        font-size: x-large;
    }
    .gall-first-cont p.title{
        font-size: 70px;
        padding-bottom: 0;
        border-bottom: 3px solid var(--lightColor);
    }
    .gall-body .filter-text{
        word-spacing: 0;
        font-size: x-large;
    }
    .Gallery .gall-body-res{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .gall-body-res .sect-res{
        height: 35vh;
        line-height: 1.2;
    }
    .sect-res-rest-cont .Name{
        font-size: xx-large;
    }
    .sect-res-rest-cont .date{
        font-size: large;
    }
    .sect-res-rest-cont button{
        padding: 1vh 2vw;
        font-size: x-large;
    }   
}
