.contact-first-cont{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: fill;
}
.contact-first-cont p.title{
    font-weight: 400;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 2px 2px black;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    text-transform: uppercase;
}

.breadcrumbs{
    height: fit-content;
    word-spacing: 5px;
}
.breadcrumbs p,
.breadcrumbs .contact-link{
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;  
    color: grey;
    transition: all .3s ;
}
.breadcrumbs .contact-link:hover{
    color: var(--mainColor);
}
.breadcrumbs p span{
    color: #fff;
}

.contact-body{
    display: flex;
    gap: 4vw;
    margin: 10vh 3vw;
}
.contact-body>*{
    width: 100%;
}
.contact-map{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(255, 223, 41, 0.937);
}

.contact-body form{
    box-shadow: 0 5px 30px rgba(255, 223, 41, 0.937);
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
    padding: 4vh 2vw;
    box-sizing: border-box;
    border-radius: 15px;
    background: transparent;
    align-items: center;
}
form .name-sect{
    width: 100%;
    display: flex;
    gap: 2vw;
}

form input{
    padding: 1vh 1vw;
    border-radius: 5px;
    width: 100%;
    height: 7vh;
    font-family: 'poppins', sans-serif;
}

.contact-body form textarea{
    padding: 1vh 1vw;
    height: 25vh;
    resize: none;
    width: 100%;
    background: #ddd;
}
.contact-body form button{
    height: 7vh;
    border: 2px solid var(--mainColor);
    font-weight: 650;
    color: #fff;
    background: var(--mainColor);
    transition: all .3s;
    width: 50%;
    font-family: 'poppins', sans-serif;
}
.contact-body form button:hover{
    background-color: transparent;
    color: var(--mainColor);
}

@media screen  and (max-width: 600px){
    .contact-first-cont p.title{
        font-size: 45px;
    }
    .breadcrumbs p,
    .breadcrumbs .contact-link{
        font-size: medium;
    }

    .contact-body{
        flex-direction: column;
        gap: 10vw;
    }
    .contact-map{
        height: 30vh;
        box-shadow: 0 3px 20px rgba(255, 223, 41, 0.937);
    }
    
    .contact-body form{
        box-shadow: 0 3px 20px rgba(255, 223, 41, 0.937);
        height: 70vh;
    }
    form .name-sect{
        flex-direction: column;
    }
    
    form input{
        padding: 1vh 3vw;
    }
    
    .contact-body form textarea{
        padding: 1vh 3vw;
    }
}


@media screen  and (min-width:600px) and (max-width: 900px){
    .contact-first-cont{
        height: 100vh;
    }
    .contact-first-cont p.title{
        font-size: 45px;
    }
    .breadcrumbs p,
    .breadcrumbs .contact-link{
        font-size: medium;
    }

    .contact-body{
        flex-direction: column;
        gap: 10vw;
    }
    .contact-map{
        height: 40vh;
        box-shadow: 0 3px 20px rgba(255, 223, 41, 0.937);
    }
    
    .contact-body form{
        box-shadow: 0 3px 20px rgba(255, 223, 41, 0.937);
        height: 70vh;
    }
    
    form input{
        padding: 1vh 3vw;
    }
    form textarea, form input{
        font-size: x-large;
    }
    .contact-body form textarea{
        padding: 1vh 3vw;
    }
    form button{
        font-size: x-large;
    }
}