.Header{
    background: transparent;
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    height: 20vh;
}
.Header.sticky{
    position: fixed;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
    height: 15vh;
}
.Header.sticky .logo-cont .logo{
    filter: invert(1);
}
.Header.sticky .nav-cont>*,
.Header.Header.sticky .nav-btn-cont .nav-btn {
    color: #000;
}

.nav-cont>*{
    color: #fff;
    transition: all .4s ease-in-out;
}
.Header .logo-cont{
    width:8vw;
    height: 15vh;
}
.Header .logo-cont .logo{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.Header .nav-cont{
    width: 70%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.Header .nav-cont>*{
    position: relative;
    cursor: pointer;
    width: max-content;
}
.Header .nav-cont>*::after{
    content: "";
    height: 4px;
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
    background-color: var(--mainColor);
    border-radius: 5px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.Header .nav-cont>*:hover::after{
    transform: scaleX(1);
}
.Header .nav-cont .active{
    color: var(--mainColor);
}
.Header .nav-cont .active::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mainColor);
    border-radius: 100%;
    height: 7px;
    width: 7px;
    bottom: -10px;
}
.nav-btn-cont{
    width: 4%;
    height: 6vh;
    display: none;
}
.nav-btn-cont .nav-btn {
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .Header{
        padding: 0 6vw;
        height: 15vh;
    }
    .Header.Header.sticky{
        height: 10vh;
    }
    .Header .logo-cont{
        width:18vw;
        height: 10vh;
    }
    .Header .nav-cont{
        display: none;
    }
    .nav-btn-cont {
        width: 45%;
        display: block;
        position: relative;
    }
    .nav-btn-cont .nav-btn {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        content: icon;
    }
    .collapse{
        margin-top: 7vh;
    }
    .card-body{
        margin-top: 7vh;
        width: inherit;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }

    .card-body>*{
        position: relative;
        cursor: pointer;
        width: max-content;
    }
    .card-body>*::after{
        content: "";
        height: 4px;
        position: absolute;
        bottom: -2px;
        width: 100%;
        left: 0;
        background-color: var(--mainColor);
        border-radius: 5px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }
    .card-body>*:hover::after{
        transform: scaleX(1);
    }
    .card-body .active{
        color: var(--mainColor);
    }
    .card-body .active::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--mainColor);
        border-radius: 100%;
        height: 7px;
        width: 7px;
        bottom: -5px;
    }
    .new{
        color: red;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .Header{
        padding: 0 6vw;
    }
    .Header.sticky{
        height: 11vh;
    }
    .Header .logo-cont{
        width:15vw;
        height: 10vh;
    }
    .Header .nav-cont{
        display: none;
    }
    .nav-btn-cont {
        width: 45%;
        display: block;
        position: relative;
    }
    .nav-btn-cont .nav-btn {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }
    .collapse{
        margin-top: 7vh;
    }
    .card-body{
        margin-top: 7vh;
        width: inherit;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: large;
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }

    .card-body>*{
        position: relative;
        cursor: pointer;
        width: max-content;
    }
    .card-body>*::after{
        content: "";
        height: 4px;
        position: absolute;
        bottom: -2px;
        width: 100%;
        left: 0;
        background-color: var(--mainColor);
        border-radius: 5px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }
    .card-body>*:hover::after{
        transform: scaleX(1);
    }
    .card-body .active{
        color: var(--mainColor);
    }
    .card-body .active::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--mainColor);
        border-radius: 100%;
        height: 7px;
        width: 7px;
        bottom: -5px;
    }
    .new{
        color: red;
    }
}



