.Home::-webkit-scrollbar{
    display: none;
  }
  .Home{
    width: 100%;
    overflow-x: hidden;
  }
.carousel img{
    width: 100%;
    height: 100vh;
    filter: brightness(.4);
}

.carousel .carousel-caption{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel .carousel-caption .out-sect{
    line-height: .8;
}
.carousel .carousel-caption .out-sect p:first-child{
    font-size: 5vw;
    color: var(--secColor);
    font-family: 'Carattere', cursive;
}
.carousel .carousel-caption .out-sect p:last-child{
    font-size: 8vw;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}
.carousel .carousel-caption .in-sect{
    display: flex;
    align-items: center;
    width: 80%;
    height: fit-content;
}
.carousel .carousel-caption .in-sect .info{
    width: 80%;
    font-weight: 500;
    text-align: left;
    text-shadow: 0 2px 3px black;
}
.carousel .carousel-caption .in-sect .in-btn{
    width: 20%;
    height: 100%;
}
.carousel .carousel-caption .in-sect .in-btn button{
    width: 80%;
    height: 70%;
    color: var(--mainColor);
    background: #fff;
    border-radius: 8px;
    transition: all .3s;
}
.carousel .carousel-caption .in-sect .in-btn button:hover{
    color: #fff;
    background: var(--mainColor);
}




.firsto-Anon{
    display: flex;
    height: 90vh;
    gap: 5vw;
    padding: 15vh 15vw;
}

.firsto-Anon .firsto-sect:first-child{
    width: 60%;
    line-height: .7;
    margin: auto 0;
}
.firsto-sect:first-child p:first-child,
.discover-Anon .in-cont p:first-child,
.discover-grid-Anon .in-cont p:first-child,
.home-review-head p:first-child{
    font-size: 2vw;
    color: var(--secColor);
    font-family: 'Courgette', cursive;
}
.firsto-sect:first-child p:nth-child(2){
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    color: black;
}
.firsto-Anon .firsto-sect:first-child p.short-inf{
    line-height: 1.5;
}

.firsto-Anon .firsto-sect:last-child{
    width: 40%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.firsto-Anon .firsto-sect:last-child:hover img{
    scale: 1.1;
}
.firsto-sect:last-child img{
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;
}

.firsto-sect .link-btn,
.discover-list-Anon .link-btn{
    border: 1px solid var(--mainColor);
    width: fit-content;
    font-size: medium;
    padding: 1.5vh 2vw;
    border-radius: 10px;
    color: var(--mainColor);
    background: transparent;
    transition: all .3s;
}
.firsto-sect .link-btn:hover,
.discover-list-Anon .link-btn:hover{
    background: var(--secColor);
    border-color: var(--secColor);
    color: #fff;    
}

.discover-Anon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
    line-height: .8;
}
.discover-Anon .in-cont p:last-child{
    color: #fff;
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 5vh;
    text-shadow: 0 2px 2px black;
    text-transform: uppercase;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

.discover-list-Anon{
    display: flex;
    gap: 2vw;
    margin-top: 10vh;
    padding: 1vh 6vw;
    margin-bottom: 10vh;
}
.discover-list-Anon .discover-list-sect{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 20px;
}
.discover-list-Anon .discover-list-sect img{
    width: 100%;
    height: 50vh;
    margin-bottom: 3vh;
    transition: all .4s;
}
.discover-list-Anon .discover-list-sect h2{
    font-size: x-large;
    color: black;
}
.discover-list-Anon .discover-list-sect img:hover{
    scale: 1.05;
}

.discover-grid-Anon{
    background: #eee;
    padding: 10vh 0;
}
.discover-grid-Anon .in-cont,
.home-review-cont .home-review-head{
    text-align: center;
    line-height: 1;
    margin-bottom: 10vh;
}
.discover-grid-Anon .in-cont p:last-child,
.home-review-head p:last-child{
    font-size: 5vw;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    color: black;
}

.Home .discover-grid {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 3vw;
   row-gap: 3vh;
   height: 100vh;
   padding: 1vh 6vw;
}
  
#item-0 {
   background-color: #69EDBC; 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 2;
}
#item-1 {

   background-color: #D59565; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#item-2 {

   background-color: red; 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#item-3 {

   background-color: #D98595; 
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;
   
}
#item-4 {

   background-color: #D56FD8; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 3;
   
}
#item-5 {

   background-color: #9D89E7; 
   grid-row-start: 3;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-column-end: 4;
   
}
#item-0,
#item-1,
#item-2,
#item-3,
#item-4,
#item-5{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
#item-0 img,
#item-1 img,
#item-2 img,
#item-3 img,
#item-4 img,
#item-5 img{
    width: 100%;
    height: 100%;
    transition: all .3s;
}
#item-0 p,
#item-1 p,
#item-2 p,
#item-3 p,
#item-4 p,
#item-5 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 1vh 2vw;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    background: rgba(255, 255, 255, .8);
    border-radius: 30px;
    overflow: hidden;
    font-family: 'Courgette', sans-serif;
}
.discover-grid>*:hover img{
    scale: 1.05;
}

.home-review-cont {
    margin-top: 15vh;
}
.comments{    
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.comments .comm-img-cont{
    width: 10vw;
    height: 20vh;
    border-radius: 100%;
    border: 2px solid var(--secColor);
    padding: 3px;
}
.comments .comm-img-cont img{
    width: 100%;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}









@media screen and (max-width: 600px) {  

.carousel .carousel-caption .out-sect{
    line-height: .7;
    margin-bottom: 5vh;
}
.carousel .carousel-caption .out-sect p:first-child{
    font-size: 8vw;
}
.carousel .carousel-caption .out-sect p:last-child{
    font-size: 10vw;
}
.carousel .carousel-caption .in-sect{
    display: block;
    width: 100%;
    text-align: center;
}
.carousel .carousel-caption .in-sect .info{
    width: 100%;
    font-size: small;
    text-align: center;
}
.carousel .carousel-caption .in-sect .in-btn{
    width: 20%;
    height: 100%;
}
.carousel .carousel-caption .in-sect .in-btn button{
    width: 40%;
    height: 30%;
    font-size: small;
}


.firsto-Anon{
    height: fit-content;
    gap: 5vw;
    padding: 10vh 7vw;
}

.firsto-Anon .firsto-sect:first-child{
    line-height: .7;
}
.firsto-sect:first-child p:first-child,
.discover-Anon .in-cont p:first-child,
.discover-grid-Anon .in-cont p:first-child,
.home-review-head p:first-child{
    font-size: 4.5vw;
}
.firsto-sect:first-child p:nth-child(2){
    font-size: 7vw;
    margin-bottom: 3vh;
}
.firsto-Anon .firsto-sect:first-child p.short-inf{
    font-size: small;
}
.firsto-Anon .firsto-sect:last-child{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 30vh;
    margin: auto;
}
.firsto-Anon .firsto-sect:last-child:hover img{
    scale: 1.1;
}

.Home .link-btn{
    font-size: small;
    padding: 1vh 2vw;
    border-radius: 8px;
}
.discover-Anon{
    height: 50vh;
}
.discover-Anon .in-cont p:last-child{
    font-size: 7vw;
    text-shadow: 0 3px 3px black;
}

.discover-list-Anon{
    display: block;
    padding: 1vh 7vw;
}
.discover-list-Anon .discover-list-sect{
    margin-bottom: 8vh;
}
.discover-list-Anon .discover-list-sect img{
    height: 40vh;
}

.discover-grid-Anon{
    padding: 8vh 0;
}
.discover-grid-Anon .in-cont,
.home-review-cont .home-review-head{
    line-height: .7;
    margin-bottom: 5vh;
}
.discover-grid-Anon .in-cont p:last-child,
.home-review-head p:last-child{
    font-size: 8vw;
}

.Home .discover-grid {
   display: flex;
   flex-direction: column;
   gap: 2vh; 
   height: 200vh;
   padding: 1vh 7vw;
}
  

#item-0 p,
#item-1 p,
#item-2 p,
#item-3 p,
#item-4 p,
#item-5 p{
    width: 60%;
    text-align: center;
    padding: 1vh 0;
    font-weight: 600;
    font-size: small;
    border-radius: 15px;
}
.home-review-cont {
    margin-top: 8vh;
}
.comments{    
    height: 60vh;
    justify-content: center;
    padding: 0 10vw;
    gap: 3vh;
}
.comments .comm-img-cont{
    width: 25vw;
    height: 12vh;
}
.comments .comm-img-cont img{
    object-fit: fill;
}
.comments .comm-inf .comment{
    font-size: small;
}
}







@media screen and (min-width: 600px) and (max-width: 900px) {  

.carousel .carousel-caption .out-sect{
    line-height: .8;
    margin-bottom: 5vh;
}
.carousel .carousel-caption .out-sect p:first-child{
    font-size: 8vw;
}
.carousel .carousel-caption .out-sect p:last-child{
    font-size: 10vw;
}
.carousel .carousel-caption .in-sect{
    display: block;
    width: 100%;
    text-align: center;
}
.carousel .carousel-caption .in-sect .info{
    width: 100%;
    font-size: large;
    text-align: center;
}
.carousel .carousel-caption .in-sect .in-btn{
    width: 20%;
    height: 100%;
}
.carousel .carousel-caption .in-sect .in-btn button{
    width: 45%;
    height: 35%;
    font-size: large;
    font-weight: 600;
}


.firsto-Anon{
    height: fit-content;
    gap: 5vw;
    padding: 15vh 7vw;
}

.firsto-Anon .firsto-sect:first-child{
    line-height: .7;
}
.firsto-sect:first-child p:first-child,
.discover-Anon .in-cont p:first-child,
.discover-grid-Anon .in-cont p:first-child,
.home-review-head p:first-child{
    font-size: 4.5vw;
}
.firsto-sect:first-child p:nth-child(2){
    font-size: 7vw;
    margin-bottom: 3vh;
}
.firsto-Anon .firsto-sect:first-child p.short-inf{
    font-size: large;
}
.firsto-Anon .firsto-sect:last-child{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 30vh;
    margin: auto;
}


.Home .link-btn{
    font-size: larger;
    padding: 1vh 3vw;
    border-radius: 8px;
}
.discover-Anon{
    height: 50vh;
}
.discover-Anon .in-cont p:last-child{
    font-size: 7vw;
    text-shadow: 0 3px 3px black;
}

.discover-list-Anon{
    display: block;
    padding: 1vh 7vw;
}
.discover-list-Anon .discover-list-sect{
    margin-bottom: 8vh;
}
.discover-list-Anon .discover-list-sect h2{
    font-size: xx-large;
}
.discover-list-Anon .discover-list-sect p{
    font-size: large
}
.discover-list-Anon .discover-list-sect img{
    height: 40vh;
}

.discover-grid-Anon{
    padding: 8vh 0;
}
.discover-grid-Anon .in-cont,
.home-review-cont .home-review-head{
    line-height: .7;
    margin-bottom: 5vh;
}
.discover-grid-Anon .in-cont p:last-child,
.home-review-head p:last-child{
    font-size: 8vw;
}

.Home .discover-grid {
   display: flex;
   flex-direction: column;
   gap: 2vh; 
   height: 200vh;
   padding: 1vh 7vw;
}
  

#item-0 p,
#item-1 p,
#item-2 p,
#item-3 p,
#item-4 p,
#item-5 p{
    width: 60%;
    text-align: center;
    padding: 1vh 0;
    font-weight: 600;
    font-size: large;
    border-radius: 15px;
}
.home-review-cont {
    margin-top: 8vh;
}
.comments{    
    height: 60vh;
    justify-content: center;
    padding: 0 10vw;
    gap: 3vh;
}
.comments .comm-img-cont{
    width: 25vw;
    height: 15vh;
}
.comments .comm-img-cont img{
    object-fit: fill;
}
.comments .comm-inf .comment{
    font-size: larger;
}
.comments .comm-inf .Name{
    font-size: large;
}
}