.Footer p{
    color: #fff;
}
.Footer p.title{
    font-family: 'poppins', sans-serif;
    margin-bottom: 2vh ;
    font-size: larger;
    text-decoration: 3px underline #aaa;
}
.topFooter{
    display: flex;
    background: #222;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
}
.topFooter>*{
    margin: auto 0;
}
.Footer .credits p, 
.Footer .inf p{
    color: #999;
}
.Footer .inf p{
    line-height: 2;
}
.Footer .foot-ico{
    font-size: large;
}
.bottomFooter{
    display: flex;
    background: #000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3vw;   
}
.bottomFooter .foot-ico a{
    color: #212529;
    transition: all .3s ease;
    margin: auto 0;
}
.bottomFooter .foot-ico{
    width: 15%;
    align-items: center;
    font-size: x-large;
    justify-content: space-between;
    display: flex;
}
.bottomFooter .foot-ico a:hover{
    color: var(--mainColor);
    margin: auto 0;
}

@media screen and (max-width: 600px){
    .Footer p.title{
        margin-bottom: 2vh ;
        font-size: larger;
    }
    .topFooter{
        flex-direction: column;
        padding: 2vh 3vw;
    }
    .Footer .inf p{
        line-height: 1.5;
    }
    .topFooter>*{
        width: 100%;
    }
    .bottomFooter>*{
        width: 60%;
    }
    .bottomFooter .foot-ico{
        width: 30%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    .Footer p{
        font-size: larger;
    }
    .Footer p.title{
        font-size: x-large;
    }
    .Footer .foot-ico{
    font-size: larger;
    }
    .bottomFooter .foot-ico{
        font-size: xx-large;
        width: 25%;
    }
}