*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}
button,
input,
textarea{
  border: 0;
}
input:focus,
button,
textarea{
  outline: 0;
}
*::-webkit-scrollbar{
  display: none;
}
:root{
  --mainColor: goldenrod;
  --secColor: gold;
  --thirdColor:#181818;
  --bgColor:#f8f8f8;
}
a{
  color: initial;
  text-decoration: none;
}
body{
  background: var(--bgColor);
}
ul{
  list-style-type: none;
}